<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PasteleriaEntities" connectionString="metadata=res://*/PasteleríaEDM.csdl|res://*/PasteleríaEDM.ssdl|res://*/PasteleríaEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-5RCPGEFO\SQLEXPRESS;initial catalog=Pasteleria;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>